<div class="container">
    <img id="image" src="/assets/images/restaurant.jpg" alt="Italian Food" style="width:auto">
    <div class="centered"> <h1>Il Gambero Rosso</h1>
        <br>
        <h4>Family-run since 1928</h4>
    </div>
</div>
<br><br><br>
<div class="container">
    <h2 class="text-center">Now with Delivery!</h2>
    <p>Our restaurant is small and we like our diners to take time and enjoy their food. It is one of the things that has made us so popular. But it also means there is limited space. So we have decided to try out a new delivery service. You can now enjoy our most popular dishes in your own home! Check out our menu, place and order, and have your food delivered to your doorstep in 30 minutes!</p>
    <button routerLink="/menu" class="btn btn-info">Menu</button>
</div>
    