<div class="content">

<div class="wrapper">
    <img src="/assets/images/people.jpg">
    <div class="textbox">
        <h2>Our Story </h2>
      <p>It all began with Nonno and Nonna Rosso. Boy could Nonna Rosso cook! There was nothing Nonno Rosso loved more than coming home at the end of a long, hard day at the factory to her wonderful homemade food. When Nonno Rosso lost his right arm in an factory accident, the family needed a new way to earn a living. In 1928 they turned the downstairs floor of their home into a small restaurant. With Nonna Rosso's amazing food, Nonno Rosso's great humor and 3 beautiful daughters to serve up the meals <i>Il Gambero Rosso</i> quickly became a beloved gathering spot for locals. </p>
      <p> Over time the restaurant grew and the little house became too small, so the Rosso family expanded their restaurant into the neighboring property. Today the restaurant is run by the grandchildren of those beautiful daughters who first served up the food. The menu features classic Italian dishes such as homemade pastas and traditional pizzas, all prepared with the freshest ingredients and the utmost care. The restaurant also showcases its history with photos of Paduan life during the late 1920s and 1930s. <i>Il Gambero Rosso</i> is a piece of Italian history, and a reminder of the importance of family, tradition, and delicious Italian food. <i>Buon appetito!</i></p>
        </div>
    </div>
</div>
