/* .cart {
    margin-right: 20px;
    margin-top:10px;
}

.badge{
    color: white;
    background-color: blue;
    font-size: 1rem;
    position: relative;
    right: -30px;
    top: -50px;
    border-radius: 5px;
    padding: 0 4px;
    width: 1rem;
} */